<script>
    window.recipeId = '<%= @recipe.id.to_s %>';
    window.recipeUrl = '<%= url_for(@recipe) %>';
    window.ingredientPostUrl = '<%= url_for(@recipe_ingredient) %>';
    window.unitsOfMeasure = <%= raw @unit_options.to_json %>;
</script>
<div id="addIngredientAppWrapper" style="height: calc(100% - 52px); position: relative;">

</div>