<h2>Log in</h2>
<%# omniauth-google-oauth2 1.0.x uses OmniAuth 2 and requires using HTTP Post to initiate authentication: %>
<%= button_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, :data => {turbo: "false"} %>