// @charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// Import only what you need from Bulma
// @import "bulma/sass/utilities/_all.sass";
// @import "bulma/sass/base/_all.sass";
// @import "bulma/sass/elements/button.sass";
// @import "bulma/sass/elements/container.sass";
// @import "bulma/sass/elements/title.sass";
// @import "bulma/sass/form/_all.sass";
// @import "bulma/sass/components/navbar.sass";
// @import "bulma/sass/layout/hero.sass";
// @import "bulma/sass/layout/section.sass";
@import 'bulma/bulma';
@import 'bulma-floating-button/dist/css/bulma-floating-button.sass';
@import "bulma-list/sass/bulma-list.sass";

.recipe_ingredients_add {
  background: white;
}

.recipe_ingredients_list {
  height: 400px;
  overflow-y: scroll;
}

.movesection {
  background-color: #f6f6f6;
  position: absolute;
  width: 120px;
  height: 100px;
  top: 0px;
  left: -10px;
  z-index: 4;
}

@media only  screen and (max-width : 430px) {
  .movesection {
    width: 100px;
  }
}

.recipe_ingredients_list .card-content {
  overflow: hidden;
  position:relative;
}

.recipe_ingredients_list .card-content .icon {
  z-index: 5;
  position:relative;
}

.shopping_list_item {
  height: 60px;
  cursor: pointer;
}

.shopping_list_item:hover {
  background-color: #ececec;
}

.card-footer-item button {
  background-color: hsl(0deg, 0%, 100%);
  max-width: 100%;
  position: relative;
  border: none;
  color: hsl(229deg, 53%, 53%);
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

.if-only-child {
  display:none;

  &:only-child {
    display: revert;
  }
}